{% if is_granted('ROLE_TICKET_MANAGER') or is_granted('ROLE_TICKET_AUTHOR') %}
    {{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, 'AllmegaMediaBundle') }) }}
{% endif %}