{% set ticket = params.ticket %}

<div class="px-3">
    <p class="fw-bold">
        {{ 'ticket.label.description'|trans({}, params.domain) }}
    </p>
    <div class="_allmega-ticket-description-area">
        {{ ticket.description|raw }}
    </div>
    {% include params.path ~ 'inc/_done.html.twig' %}
    {% include params.path ~ 'inc/_files_states.html.twig' %}
    {{ allmega_render_tags(ticket.tags) }}
</div>