{% for ticket in tickets %}
	{% set state = allmega_render_ticket_creator({
			'border': 'border rounded',
			'ticket': ticket,
			'state': true,
			'bg': 'white',
		})
	%}

	{{ allmega_render_dashboard_box_item({
			'content': ticket.description|slice(0,200) ~ '<hr>' ~ state,
			'badge': ticket.created|allmega_is_new,
			'title': {
				'content':  allmega_render_link({
					'label': ticket.title|slice(0,70),
					'path': path(params.route ~ 'show', {'id': ticket.id})
				})
			}
		})
	}}
{% else %}
	{{ 'ticket.empty.member'|trans({}, params.domain) }}
{% endfor %}