{% trans_default_domain params.domain %}

{% if ticket.done %}
    <hr>
    <div class="allmega-ticket-done-area">
        <div class="fw-bold">
            {{ 'ticket.label.report'|trans }}
        </div>
        <div class="allmega-ticket-report-area">
            {{ ticket.report|allmega_print }}
        </div>
        <hr>
        {{ allmega_render_author_info({
                'labelCreated': 'ticket.reporter'|trans,
                'created': ticket.reported,
                'author': ticket.reporter,
            })
        }}
    </div>
{% endif %}