{% if params.data.show %}
    {% include params.ticketstate.path ~ 'inc/_layout.html.twig' %}
    
    {{ allmega_media_render_files_widget({
            'show': params.ticketVoter.isGranted('ticket-edit', ticket, app.user),
            'route': params.route ~ 'show',
            'folder': ticket.mediaDir,
            'navid': ticket.id,
            'id': ticket.id,
        })
    }}
{% endif %}