{% trans_default_domain params.domain %}

{% set ticket = params.ticket %}

<span class="fw-bold">{{ 'ticket.num'|trans }}:</span> {{ ticket.num }}<hr>
{{ allmega_render_author_info({'author': ticket.author, 'created': ticket.created}) }}
<hr>

<div class="fw-bold">{{ 'ticket.label.editors'|trans }}:</div>
<div class="ps-3">
    {% set absentEmployees = params.absence.getAbsentEmployees(ticket) %}
    {% for user in ticket.editors %}
        {% set css = user.fullname in absentEmployees ? ' text-danger' : '' %}
        - <i class="fa-solid fa-user-tie{{ css }}"></i> 
        <span class="{{ css }}">{{ user.fullname }}</span>
        {% if not loop.last %}<br>{% endif %}
    {% else %}
        - {{ 'ticket.no_users'|trans }}
    {% endfor %}
</div>