{% if params.projectVoter.isGranted('ticket-project-files', null, app.user) %}
    {{ allmega_render_confirmation({'action': 'delete', 'message': 'mediafile.delete_confirm'|trans({}, 'AllmegaMediaBundle')})}}
{% endif %}