{% trans_default_domain params.domain %}

{% set links = [] %}
{% set ticket = params.ticket %}
{% set tags = [allmega_render_ticket_state({'ticket': ticket})] %}

{% if params.ticketVoter.isGranted('ticket-show', ticket, app.user) %}
    {% set links = links|merge([{
            'icon': 'eye', 'title': 'ticket.show'|trans,
            'path': path(params.route ~ 'show', {'id': ticket.id, 'type': params.data.type})
        }])
    %}
{% endif %}

{% if params.ticketVoter.isGranted('ticket-edit', ticket, app.user) %}
    {% set links = links|merge([{
            'load': true, 'icon': 'edit', 'title': 'ticket.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': ticket.id})
        }])
    %}
{% endif %}

{% if ticket.done and params.data.type == 'author' %}
    {% set links = links|merge([{
            'path': path(params.route ~ 'archive', {'id': ticket.id}),
            'title': params.data.archiveLabel|trans,
            'icon': 'file-zipper', 'confirm': true
        }])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'inc/_info.html.twig')},
        'tags': tags, 'links': links
    })
}}