{% if params.data.type == 'member' or params.data.type == 'manager' %}
    <div class="allmega-ticket-creator-area shadow">
        {{ allmega_render_ticket_creator({'ticket': item, 'timetype': 'none', 'border': 'rounded-2'}) }}
    </div>
{% endif %}