{% trans_default_domain params.domain %}

{% set links = [] %}

{% set isManager = params.data.type == 'manager' %}
{% set isAuthor = params.data.type == 'author' %}
{% set isArchive = params.data.type == 'archive' %}
{% set isMember = params.data.type == 'member' %}

{% if isManager or isArchive or (isMember and is_granted('ROLE_TICKET_AUTHOR')) %}
    {% set icon = isMember ? 'list-alt' : 'backward' %}
    {% set links = links|merge([{
            'icon': icon, 'title': 'ticket.list.author'|trans,
            'path': path(params.route ~ 'index', {'id': 'author'})
        }])
    %}
{% elseif isAuthor %}
    {% if is_granted('ROLE_TICKET_MANAGER') %}
        {% set links = links|merge([{
                'icon': 'list-alt', 'title': 'ticket.list.manager'|trans,
                'path': path(params.route ~ 'index', {'id': 'manager'})
            }])
        %}
    {% endif %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'plus-circle',
                'title': 'ticket.create'|trans,
                'path': path(params.route ~ 'add')
            },
            {
                'icon': 'file-zipper', 'title': 'ticket.archives'|trans,
                'path': path(params.route ~ 'index', {'id': 'archive'})
            }
        ])
    %}
{% endif %}

{{  allmega_render_heading({
        'title': {
            'icon': 'tasks',
            'content': params.data.title|trans,
            'count': tickets.totalItemCount
        },
        'actionsList': {
            'info': {'show': true, 'content': params.data.info|trans},
            'sort': {'item': item, 'sortables': tickets},
            'search': {
                'help': 'ticket.search.help'|trans,
                'placeholder': 'ticket.search.tickets'|trans,
                'path': path('allmega_ticket_search', {'type': params.data.type}),
            },
            'links': links
        }
    })
}}