{{ include(params.path ~ 'list/_heading.html.twig') }}
<div class="mx-3"> {{ allmega_render_prio_legend() }}</div>
<hr>
{{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
{{ allmega_render_pagination(tickets) }}