{% set badge = item.created|allmega_is_new %}
{% set title = badge ~ item.title ~ ' ' ~ include(params.path ~ 'list/_creator.html.twig') %}
{% set css = 'allmega-prio-' ~ item.prio|allmega_priority %}
{% set params = params|merge({'ticket': item}) %}

{{ allmega_render_slider_content({
        'title': title, 'params': params, 'css': css,
        'templates': {
            'content': params.path ~ 'inc/_content.html.twig',
            'menu': params.path ~ 'list/_actions.html.twig',
        }
    })
}}