{% trans_default_domain params.domain %}

{% set project = params.project %}
{% set links = [{
        'path': path(params.route ~ 'show', {'id': project.id, 'type': params.data.type}),
        'title': 'project.show'|trans, 'icon': 'eye',
    }]
%}

{% set canEdit = params.projectVoter.isGranted('ticket-project-edit', project, app.user) %}
{% set isManager = params.data.type == 'manager' %}
{% set isAuthor = params.data.type == 'author' %}

{% if (isManager or isAuthor) and canEdit %}
    {% set links = links|merge([
            {
                'title': project.active ? 'project.deactivate'|trans : 'project.activate'|trans,
                'path': path(params.route ~ 'state', {'id': project.id}),
                'confirm': true, 'state': project.active,
            },
            {
                'load': true, 'icon': 'edit', 'title': 'project.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': project.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ 'list/_info.html.twig')},
        'links': links
    })
}}