{% trans_default_domain params.domain %}

{% set links = [] %}

{% set isManager = params.data.type == 'manager' %}
{% set isAuthor = params.data.type == 'author' %}
{% set isMember = params.data.type == 'member' %}

{% if isManager or (isMember and is_granted('ROLE_PROJECT_AUTHOR')) %}
    {% set icon = isMember ? 'list-alt' : 'backward' %}
    {% set links = links|merge([{
        'icon': icon, 'title': 'project.list.author'|trans,
        'path': path(params.route ~ 'index', {'id': 'author'})
    }])
    %}
{% elseif isAuthor %}
    {% if is_granted('ROLE_PROJECT_MANAGER') %}
        {% set links = links|merge([{
            'icon': 'list-alt', 'title': 'project.list.manager'|trans,
            'path': path(params.route ~ 'index', {'id': 'manager'})
        }])
        %}
    {% endif %}
    {% set links = links|merge([{
        'load': true, 'size': 'lg', 'icon': 'plus-circle',
        'title': 'project.create'|trans,
        'path': path(params.route ~ 'add')
    }])
    %}
{% endif %}

{{ allmega_render_heading({
        'title': {
            'icon': 'tasks', 'content': params.data.title|trans,
            'count': projects.totalItemCount
        },
        'actionsList': {
            'info': {'show': true, 'content': params.data.info|trans},
            'sort': {'item': item, 'sortables': projects},
            'search': {
                'path': path(params.route ~ 'search', {'type': params.data.type}),
                'placeholder': 'project.search.projects'|trans,
                'help': 'project.search.help'|trans,
            },
            'links': links
        }
    })
}}