{% trans_default_domain params.domain %}

<div>
    {{ 'project.duration'|trans({'%hours%': project.duration}, params.domain)|raw }}
</div>
<hr>
<div>
    <div class="fw-bold">{{ 'project.label.employees'|trans }}:</div>
    {% for employee in project.employees %}
        - {{ employee.fullname }}<br>
    {% else %}
        <span class="text-muted text-small">
            {{ 'project.empty.member'|trans }}
        </span>
    {% endfor %}
</div>
<hr>
{{ project|allmega_item_info }}