{{ allmega_render_slider_wrapper({
        'empty': params.data.empty|trans({}, params.domain),
        'template': params.path ~ 'list/_slider.html.twig',
        'params': params, 'items': projects
    })
}}