<div class="row">
    <div class="col-md-12">
        {% set project = params.project %}
        <div class="mb-3">{{ project.description|raw }}</div>
        {% if not app.request.isXmlHttpRequest %}
            {{ include(params.path ~ 'inc/_files.html.twig') }}
        {% endif %}
        {{ allmega_render_tags(project.tags) }}
    </div>
</div>
{% if params.data.show and not app.request.isXmlHttpRequest  %}
    {{ allmega_render_comments(params.project.id, params.entityname) }}
{% endif %}