{% trans_default_domain params.domain %}

{% set project = params.project %}
{% set title = 'project.list.' ~ params.data.type %}
{% set links = [
        {
            'path': path(params.route ~ 'index', {'id': params.data.type}),
            'icon': 'backward', 'title': title|trans,
        }
    ]
%}

{% if params.projectVoter.isGranted('ticket-project-edit', project, app.user) %}
    {% set links = links|merge([
            {
                'title': project.active ? 'project.deactivate'|trans : 'project.activate'|trans,
                'path': path(params.route ~ 'state', {'id': project.id}),
                'confirm': true, 'state': project.active,
            },
            {
                'load': true, 'icon': 'edit', 'title': 'project.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': project.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_heading({
        'title': {
            'icon': 'tasks', 'content': project.title|trans
        },
        'actionsList': {
            'info': {'content': include(params.path ~ 'list/_info.html.twig')},
            'links': links
        }
    })
}}