{% extends '@AllmegaTicket/layout.html.twig' %}

{% trans_default_domain params.domain %}

{% block title %}
    {{ params.data.title|trans }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_layout.html.twig') }}
    {{ allmega_render_confirmation({'message': 'ticket.archive_confirm'|trans }) }}
{% endblock %}