{% extends '@AllmegaTicket/layout.html.twig' %}

{% block title %}
    {{ 'ticket.show'|trans({}, params.domain) ~ ' | ' ~ params.ticket.title }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'show/_heading.html.twig') }}
    {{ allmega_render_ticket_creator({'ticket': params.ticket}) }}
    <hr>
    {{ include(params.path ~ 'inc/_content.html.twig') }}
    {{ include(params.path ~ 'inc/_confirm.html.twig') }}
{% endblock %}