{% trans_default_domain params.domain %}

{% set ticket = params.ticket %}
{% set tags = [allmega_render_ticket_state({'ticket': ticket})] %}

{% set links = [{
        'icon': 'backward', 'title': params.data.title|trans,
        'path': path(params.route ~ 'index', {'id': params.data.type})
    }]
%}

{% if params.ticketVoter.isGranted('ticket-edit', ticket, app.user) %}
    {% set links = links|merge([{
            'load': true, 'icon': 'edit', 'title': 'ticket.edit'|trans,
            'path': path(params.route ~ 'edit', {'id': ticket.id})
        }])
    %}
{% endif %}

{{ allmega_render_heading({
        'title': {'icon': 'tasks', 'content': ticket.title},
        'actionsList': {
            'info': {'content': include(params.path ~ 'inc/_info.html.twig')},
            'tags': tags, 'links': links
        }
    })
}}