<div class="fw-bold mt-2 px-2 py-1 {{ info.border }} bg-{{ info.bg }}">
    {% if info.state %}
        {{ allmega_render_ticket_state({'ticket': info.ticket}) }}
    {% endif %}
    <span class="pt-2 align-top">
        {{ info.ticket.author.fullname }}&nbsp;,
        {{ info.ticket.created|format_datetime(info.datetype, info.timetype, locale='de') }}
    </span>
</div>