.allmega-ticket-states-title { height: 4rem !important; background-size: 100% 4rem !important; }
.allmega-ticket-creator-area { position: absolute; top: 0; right: 8rem; }
.allmega-ticket-states .allmega-heading-box { margin-bottom: 1rem; }
.allmega-ticket-states { position: relative; }
.allmega-ticket-states > .allmega-actions-list-group {
    position: absolute;
    top: 1.3rem;
    right: 0;
    z-index: 5;
}

@media only screen and (max-width: 768px) {
    .allmega-ticket-states > .allmega-actions-list-group { top: .3rem; }
    .allmega-ticket-creator-area { display: none; }
    .allmega-ticket-states-title {
        background-size: 100% 2rem !important;
        height: 2rem !important;
        padding: 0;
    }
}