{% trans_default_domain params.domain %}

{% set links = [] %}
{% if params.ticketStateVoter.isGranted('ticket-state-edit', params.ticketstate, app.user) %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'edit', 'title': 'ticketstate.edit'|trans,
                'path': path(params.route ~ 'edit', {'id': params.ticketstate.id})
            }
        ])
    %}
{% elseif not params.ticketstate.readedAt and params.ticketStateVoter.isGranted('ticket-state-state', params.ticketstate, app.user) %}
    {% set links = links|merge([
            {
                'icon': 'ban', 'confirm': true, 'title': 'ticketstate.readed'|trans,
                'path': path(params.route ~ 'state', {'id': params.ticketstate.id})
            }
        ])
    %}
{% endif %}

{{ allmega_render_actions_list({
        'info': {'content': include(params.path ~ '/inc/_info.html.twig')}, 'links': links
    })
}}