{% trans_default_domain params.domain %}

{% set links = [] %}

{% if params.ticketStateVoter.isGranted('ticket-state-add', params.ticket, app.user) %}
    {% set links = links|merge([
            {
                'load': true, 'icon': 'plus-circle',
                'title': 'ticketstate.create'|trans,
                'path': path(params.route ~ 'add', {'id': params.ticket.id})
            }
        ])
    %}
{% endif %}

{{  allmega_render_heading({
        'title': {
            'icon': 'tasks', 'size': 5,
            'content': 'ticketstate.list'|trans,
            'count': params.ticket.states.count,
            'css': 'allmega-ticket-states-title'
        },
        'actionsList': {'info': {'show': true, 'content': 'ticketstate.info'|trans}, 'links': links}
    })
}}