{% trans_default_domain params.domain %}

{{ allmega_render_author_info({
        'author': params.ticketstate.author,
        'created': params.ticketstate.updated,
        'labelCreated': 'ticketstate.author'|trans
    })
}}

{% if params.ticketstate.readedAt %}
    <hr>
    {% set time = params.ticketstate.readedAt|format_datetime('medium', 'short', locale='de') %}
    {{ 'ticketstate.readedAt'|trans({'%time%': time})|raw }}
{% endif %}