{% set params = params|merge({
        'route': params.ticketstate.route,
        'path': params.ticketstate.path
    })
%}
<hr>
<div class="mb-3 allmega-ticket-states">
    {{ include(params.path ~ 'inc/_heading.html.twig') }}
    {{ include(params.path ~ 'inc/_slider_wrapper.html.twig') }}
    {{ allmega_render_confirmation({'message': 'ticketstate.state_confirm'|trans({}, params.domain) }) }}
</div>