{{ allmega_render_slider_content({
        'params': params|merge({'ticketstate': item}),
        'title': item.author.fullname,
        'templates': {
            'content': params.path ~ '/inc/_content.html.twig',
            'menu': params.path ~ 'inc/_actions.html.twig',
        }
    })
}}