{{ allmega_render_slider_wrapper({
        'template': params.path ~ 'inc/_slider.html.twig', 'listCss': 'p-0',
        'empty': 'ticketstate.empty'|trans({}, params.domain),
        'items': params.ticket.states, 'params': params,
    })
}}