{% for project in projects %}
	{{ allmega_render_dashboard_box_item({
			'title': {
				'content': allmega_render_link({
					'load': true, 'label': project.title|slice(0,70),
					'path': path(params.route ~ 'show', {'id': project.id})
				})
			},
			'content': project.description|slice(0,200),
			'badge': project.created|allmega_is_new
		})
	}}
{% else %}
	{{ 'project.empty.employee'|trans({}, params.domain) }}
{% endfor %}