{% set show = params.projectVoter.isGranted('ticket-project-files', project, app.user) %}
{% set editFiles = params.data.type == 'author' or params.data.type == 'manager' %}
{{ allmega_media_render_files_widget({
        'show': show and editFiles,
        'route': params.route ~ 'index',
        'folder': project.mediaDir,
        'id': params.data.type,
        'navid': project.id,
    })
}}