{% extends '@AllmegaTicket/layout.html.twig' %}

{% block title %}
    {{ params.data.title|trans({}, params.domain) }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'list/_heading.html.twig') }}
    {{ include(params.path ~ 'list/_slider_wrapper.html.twig') }}
    {{ allmega_render_pagination(projects) }}
    {{ include(params.path ~ 'inc/confirm/_state.html.twig') }}
    {{ include(params.path ~ 'inc/confirm/_files.html.twig') }}
{% endblock %}