{% extends '@AllmegaTicket/layout.html.twig' %}

{% block title %}
    {{ 'project.show'|trans({}, params.domain) ~ ' | ' ~ params.project.title }}
{% endblock %}

{% block main %}
    {{ include(params.path ~ 'show/_layout.html.twig') }}
    {{ include(params.path ~ 'inc/confirm/_state.html.twig') }}
    {{ include(params.path ~ 'inc/confirm/_files.html.twig') }}
{% endblock %} 